#mapid { height: 180px; }



b {
    
  
    padding-left: 0;
    color:darkred;
    height: 100%;
    
}



#bg-light{
    background-color:darkred !important;

}

.dropdown-menu {
    background-color:darkred!important;
    color:white;
    border:none;

}

#navbarNavDropdown {
    float:right;
}



#navbeyaz {
    color:white;
}

#navbeyaz:hover {
    background-color:black;
    border-radius:6px;
}

.active {
    background-color:black !important;
    border-radius:6px;
}

#navbar-brand {
    color:white;
}



.custom-select {
    padding: auto;
    height:100%;
}



.custom-select{
    width:75%;
}

.info {
    width: 35px;
    margin-left: 5px;
}

.form-control {
    width:75%;
}


.btn-outline-secondary {
    background-color: gray;
    color:white;
}

.btn-outline-secondary:hover {
    background-color: darkred;
    color:white;
}

.container {
    max-width:640px;
}

.modal{
    width: 95%;
    padding-left:auto;
    padding-right: auto;
}

.modal-body {
    margin-left:auto;
    margin-right: auto;
    padding-left:auto;
    padding-right: auto;
}


#butonasik {
    width:50%; 
    max-width: 320px;
}
